@font-face {
    font-family: 'myfont';
    src: url(./Matemasie/Matemasie-Regular.ttf);
}

@font-face {
    font-family: 'krona';
    src: url(./Krona_One/KronaOne-Regular.ttf);
}

body{
    /* background-color: #E1B29B !important; */
    background: linear-gradient(270deg,#E1B29B,#AFB2B1);
}

.inp-upper-line{
    font-size: 13px;
    font-weight: bold;
}
#board-name{
    width: 70%;
    border-radius: 3px;
    border: none;
}
.board{
    /* filter:drop-shadow( 12px 12px 30px grey); */
    filter: drop-shadow(5px 26px 10px #4e4e4e);
    
}
.task-head{
    /* font-weight: lighter; */
    font-size: 33px;
    color: rgb(219, 64, 8);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.esssence{
    font-family: 'krona';
    font-size: 20px;
    color: white;
}
.first-col{
    /* border: 2px solid black; */
}
.nav,.first-btn{
    background-color: rgb(42, 42, 196) !important;
}
.first-btn{
    color: white !important;
}