@font-face {
    font-family: 'myfont';
    src: url(./Matemasie/Matemasie-Regular.ttf);
}

@font-face {
    font-family: 'krona';
    src: url(./Krona_One/KronaOne-Regular.ttf);
}

@keyframes firstAnimation{
    /* from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    } */

    from{
        filter: grayscale(100%);
    }

    to{
        filter: grayscale(0%);
    }
}

body{
    /* background-color: #E1B29B !important; */
    background: linear-gradient(90deg,#E1B29B,#AFB2B1);
}

.inp-upper-line{
    font-size: 13px;
    font-weight: bold;
}
#board-name{
    width: 70%;
    border-radius: 3px;
    border: none;
}
.board{
    /* filter:drop-shadow( 12px 12px 30px grey); */
    filter: drop-shadow(5px 26px 10px #4e4e4e);
    
}
.task-head{
    /* font-weight: lighter; */
    font-size: 33px;
    color: rgb(232, 81, 26);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.esssence{
    font-family: 'krona';
    font-size: 20px;
    color: white;
}
.first-col{
    /* border: 2px solid black; */
}
.first-head{
    font-family: 'krona';
    font-size: 26px;
}
.nav,.next-btn{
    background-color: #036B74!important;
}

.next-btn a{
    color: white !important;
    text-decoration: none;
}
.next-btn:hover{
    background-color: #34adb8 !important;
}
.next-btn:active{
    background-color: #E7AE20 !important;
    color: black !important;
}

.sec-col{
    animation-name: firstAnimation;
    animation-duration: 5s;
}

/* ..............................media query..................................... */
@media screen and (max-width:768px){
    .first-head{
        text-align: center;
    }
    #board-name{
        width: 100%;
    }
   
}